@use '../abstracts' as *;

.header {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.header__navigation {
    @include media-middle {
        display: none;
    }
}
