@use '../abstracts' as *;

.header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;

    @include media-middle {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: var(--color-bg-page);
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.header__navigation {
    @include media-middle {
        display: none;
    }
}
