@use '../abstracts' as *;

.burger-button {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 44px;
    height: 44px;
    border: 1px solid var(--color-border-inverse);
    border-radius: 100px;

    &::after,
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        display: block;
        background-color: var(--color-border-inverse);
        width: 16px;
        height: 2px;
        @extend %transition;
    }

    &::before {
        transform: translate(-50%, calc(-50% - 4px));
    }

    &::after {
        transform: translate(-50%, calc(-50% + 4px));
    }

    &.active-burger::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &.active-burger::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    @include media-middle {
        display: flex;
    }
}
