@use '../abstracts' as *;

.button-primary {
    display: inline-flex;
    align-items: start;
    justify-content: center;
    padding: 20px 0;
    width: 200px;
    border-radius: 100px;
    background-color: var(--color-bg-page);

    &::after {
        content: '';
        height: 20px;
        width: 0;
        opacity: 0;
        margin-left: 0;
        background-image: url('../../assets/icons/coffee-cup.svg');
        background-position: center;
        background-repeat: no-repeat;
        transition: width 0.3s ease-out, opacity 0.3s ease-out, margin-left 0.3s ease-out;
    }

    &:hover::after {
        width: 20px;
        opacity: 1;
        margin-left: 8px;
    }
}
