@use '../abstracts' as *;

.button-download {
    display: inline-flex;
    width: 200px;
    column-gap: 8px;
    padding: 12px 20px;

    border: 1px solid var(--color-border-inverse);
    border-radius: 100px;
    @extend %transition;

    &:hover {
        color: var(--color-text-inverse);
        background-color: var(--color-bg-container);

        &__icon {
            color: var(--color-text-inverse);
        }
    }
}

.button-download__text {
    display: flex;
    flex-direction: column;
}
