.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.gallery__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gallery__item {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

.gallery__item--tall {
    height: 400px;
}

.gallery__item--short {
    height: 300px;
}
